/node_modules
/functions/node_modules
pnaa-chapter-management-firebase-adminsdk-fbsvc-fc1a5f5216.json
pnaa-chaptermanagement-staging-firebase-adminsdk-fbsvc-6513a32ac9.json

pnaa/.env.local
pnaa/.env
functions/.env
functions/.env.*